<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Invoice App - Password Reset</title>
    {% endblock title %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="d-flex flex-column">
            <p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
        </div>
    </div>
{% endblock content %}
</body>
</html>